@using NurseryProject.Utilities
@{
    ViewBag.Title = "تقرير حضور وغياب الطلاب";
    ViewBag.MainPage = "تقرير حضور وغياب الطلاب";
    var i = 1;
}
@using (Html.BeginForm("Reports", "StudentsAttendance", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="card">
        <div class="card-header">
            <div class="row justify-content-between">
                <h4 class="col-auto">@ViewBag.Title</h4>
                @Url.BackToList()
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="form-group mb-3 col-sm-12">
                    @Html.Label("الطالب", htmlAttributes: new { @class = "control-label text-center mb-2" })

                    <div class="col-12">
                        @Html.DropDownList("StudentId", new SelectList(ViewBag.Students, "Id", "Name"), "--اختر--", new { @class = "form-control searchable" })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-12 text-center">
                    @Html.Label("البحث ب : ", htmlAttributes: new { @class = "control-label text-center mb-2" })

                    <div class="col-12">
                        @Html.Label("العام الدراسي  ", htmlAttributes: new { @class = "control-label text-center mb-2" })
                        <input type="radio" id="By" name="By" class="" value="3" checked />

                        @Html.Label("الفصل الدراسي  ", htmlAttributes: new { @class = "control-label text-center mb-2" })
                        <input type="radio" id="By" name="By" class="" value="2" />

                        @Html.Label("الشهر ", htmlAttributes: new { @class = "control-label text-center mb-2" })
                        <input type="radio" id="By" name="By" class="" value="1" />

                        @Html.Label("فترة ", htmlAttributes: new { @class = "control-label text-center mb-2" })
                        <input type="radio" id="By" name="By" class="" value="4" />
                    </div>
                </div>


                <div class="form-group mb-3 col-sm-4">
                    @Html.Label("العام الدراسي", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.DropDownList("StudyYearId", null, "--اختر--", new { @class = "form-control", @disabled = "disabled", required = "required" })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-4">
                    @Html.Label("الفصل الدراسي", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.DropDownList("StudyClassId", null, "--اختر--", new { @class = "form-control", @disabled = "disabled", required = "required" })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-4">
                    @Html.Label("الشهر", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.Editor("Month", new { htmlAttributes = new { @class = "form-control", type = "month", @disabled = "disabled", required = "required" } })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-3">

                </div>
                <div class="form-group mb-3 col-sm-3">
                    @Html.Label("من", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.Editor("Date", new { htmlAttributes = new { @class = "form-control", type = "date", @disabled = "disabled", required = "required" } })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-3">
                    @Html.Label("الي", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.Editor("Date2", new { htmlAttributes = new { @class = "form-control", type = "date", @disabled = "disabled", required = "required" } })
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row justify-content-end">
                <button type='submit' class='btn btn-primary  waves-effect waves-light px-3 m-1 col-12 col-md-auto'><i class='fas fa-search me-1'></i>عرض</button>
            </div>
        </div>
    </div>
}

@if (ViewBag.Attendance != null)
{
    @*<div class="text-center row mb-3">
        <div class="col-lg-6">
            عدد ايام الغياب : @ViewBag.Count
        </div>
        <div class="col-lg-6">
            عدد ايام الحضور : @ViewBag.Count2
        </div>

    </div>*@
    <div class="card">
        <div class="card-header">
            تقرير حضور وغياب الطلاب
        </div>
        <div class="card-body">
            <table id="datatable" class="table table-bordered">
                <thead class="bg-soft-primary">
                    <tr>
                        <th>
                            @Html.DisplayName("الكود")
                        </th>
                        <th>
                            @Html.DisplayName("الاسم")
                        </th>
                        <th>
                            @Html.DisplayName("العام الدراسي")
                        </th>
                        <th>
                            @Html.DisplayName("الفرع")
                        </th>
                        <th>
                            @Html.DisplayName("نوع الدراسة")
                        </th>
                        <th>
                            @Html.DisplayName("الصف ")
                        </th>
                        <th>
                            @Html.DisplayName("الفصل الدراسي")
                        </th>
                        <th>
                            @Html.DisplayName("الفصل")
                        </th>
                        <th>
                            @Html.DisplayName("عدد ايام الحضور")
                        </th>
                        <th>
                            @Html.DisplayName("عدد ايام الغياب")
                        </th>
                        <th>
                            @Html.DisplayName("الحضور")
                        </th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in ViewBag.Attendance)
                    {
                      
                            <tr >
                                <td>
                                    @item.Code
                                </td>
                                <td>
                                    @item.StudentName
                                </td>
                                <td>
                                    @item.StudyYearName
                                </td>
                                <td>
                                    @item.StudyPlaceName
                                </td>
                                <td>
                                    @item.StudyTypeName
                                </td>
                                <td>
                                    @item.LevelName
                                </td>
                                <td>
                                    @item.StudyClassName
                                </td>
                                <td>
                                    @item.ClassName
                                </td>
                                <td>
                                    @item.NumAttend
                                </td>
                                <td>
                                    @item.NumAllAttend
                                </td>

                                <td>
                                    <table>
                                        <thead>
                                            <tr>
                                               
                                                <th>
                                                    التاريخ
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item2 in item.Days)
                                            {
                                                if (@item2.IsAttend == true)
                                                {
                                                    <tr class="text-success">
                                                        
                                                        <td>
                                                            @item.Date
                                                        </td>
                                                    </tr>
                                                }
                                                else
                                                {
                                                    <tr class="text-danger">
                                                       
                                                        <td>
                                                            @item.Date
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>

                                    </table>
                                </td>

                            </tr>
                       
                    }
                </tbody>
            </table>

        </div>
    </div>
    <div class="card-footer">
        <div class="row mb-3 m-auto w-50">
            <div class="col-6"><i class="fa fa-circle text-success"></i> حضور </div>
            <div class="col-6"><i class="fa fa-circle text-danger"></i>   غياب</div>

        </div>
    </div>

}
@section scripts{

    <script>
        $.get('/StudentsAttendance/getStudyClassReport', { StudyYearId: $("#StudyYearId").val() }, function (data) {
            $("#StudyClassId").empty();
            $("#StudyClassId").append("<option value=''>--اختر--</option>")
            $.each(data, function (key, value) {
                $("#StudyClassId").append("<option value=" + value["Id"] + ">" + value["Name"] + "</option>")
            });
        });
        $("#StudyYearId").change(function () {
            $.get('/StudentsAttendance/getStudyClassReport', { StudyYearId: $("#StudyYearId").val() }, function (data) {
                $("#StudyClassId").empty();
                $("#StudyClassId").append("<option value=''>--اختر--</option>")
                $.each(data, function (key, value) {
                    $("#StudyClassId").append("<option value=" + value["Id"] + ">" + value["Name"] + "</option>")
                });
            });
        });
        if ($("input[name='By']:checked").val() == "1") {
            $("#Month").prop("disabled", false);
            $("#StudyYearId").prop("disabled", true);
            $("#StudyClassId").prop("disabled", true);
            $("#Date").prop("disabled", true);
            $("#Date2").prop("disabled", true);

            $("#StudyYearId").val("");
            $("#StudyClassId").val("");
            $("#Date").val("");
            $("#Date2").val("");

        }
        else if ($("input[name='By']:checked").val() == "2") {
            $("#Month").prop("disabled", true);
            $("#StudyYearId").prop("disabled", false);
            $("#StudyClassId").prop("disabled", false);
            $("#Date").prop("disabled", true);
            $("#Date2").prop("disabled", true);

            $("#Month").val("");
            $("#Date").val("");
        }
        else if ($("input[name='By']:checked").val() == "3") {
            $("#Month").prop("disabled", true);
            $("#StudyYearId").prop("disabled", false);
            $("#StudyClassId").prop("disabled", true);
            $("#Date").prop("disabled", true);
            $("#Date2").prop("disabled", true);

            $("#Month").val("");
            $("#StudyClassId").val("");
            $("#Date").val("");
            $("#Date2").val("");

        }
        else if ($("input[name='By']:checked").val() == "4") {
            $("#Month").prop("disabled", true);
            $("#StudyYearId").prop("disabled", true);
            $("#StudyClassId").prop("disabled", true);
            $("#Date").prop("disabled", false);
            $("#Date2").prop("disabled", false);

            $("#Month").val("");
            $("#StudyClassId").val("");
            $("#StudyYearId").val("");

        }
        $("input[type=radio][name='By']").change(function () {
            if (this.value == "1") {
                $("#Month").prop("disabled", false);
                $("#StudyYearId").prop("disabled", true);
                $("#StudyClassId").prop("disabled", true);
                $("#Date").prop("disabled", true);
                $("#Date2").prop("disabled", true);

                $("#StudyYearId").val("");
                $("#StudyClassId").val("");
                $("#Date").val("");
                $("#Date2").val("");

            }
            else if (this.value == "2") {
                $("#Month").prop("disabled", true);
                $("#StudyYearId").prop("disabled", false);
                $("#StudyClassId").prop("disabled", false);
                $("#Date").prop("disabled", true);
                $("#Date2").prop("disabled", true);

                $("#Month").val("");
                $("#Date").val("");
                $("#Date2").val("");

            }
            else if (this.value == "3") {
                $("#Month").prop("disabled", true);
                $("#StudyYearId").prop("disabled", false);
                $("#StudyClassId").prop("disabled", true);
                $("#Date").prop("disabled", true);
                $("#Date2").prop("disabled", true);

                $("#Month").val("");
                $("#StudyClassId").val("");
                $("#Date").val("");
                $("#Date2").val("");

            }
            else if (this.value == "4") {
                $("#Month").prop("disabled", true);
                $("#StudyYearId").prop("disabled", true);
                $("#StudyClassId").prop("disabled", true);
                $("#Date").prop("disabled", false);
                $("#Date2").prop("disabled", false);

                $("#StudyYearId").val("");
                $("#StudyClassId").val("");
                $("#Month").val("");
            }
        });
    </script>
}