@model NurseryProject.Models.StudentsAttendance
@using NurseryProject.Utilities
@{
    ViewBag.Title = (Model.Id == Guid.Empty ? "إضافة " : "تعديل ") + " غياب الطلاب   ";
    string action = Model.Id == Guid.Empty ? "Create" : "Edit";
    ViewBag.MainPage = "الطلاب  ";

}
@using (Html.BeginForm(action, "StudentsAttendance", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="card">
        <div class="card-header">
            <div class="row justify-content-between">
                <h4 class="col-auto">@ViewBag.Title</h4>
                @Url.BackToList()
            </div>
        </div>
        <div class="card-body" id="stud">
            @Html.HiddenFor(model => model.Id)
          
           
            <div class="row">

                @if ((Guid)TempData["EmployeeId"] != Guid.Empty)
                {
                    <div class="form-group mb-3 col-sm-6">
                        @Html.Label("الفصل", htmlAttributes: new { @class = "control-label" })
                        <div class="col-12">
                            @Html.DropDownListFor(model => model.ClassId, null, "--اختر--", new { @class = "form-control", required = "required" })
                            @Html.ValidationMessageFor(model => model.ClassId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-group mb-3 col-sm-6">
                        @Html.Label("العام الدراسي", htmlAttributes: new { @class = "control-label" })
                        <div class="col-12">
                            @Html.DropDownList("StudyYearId", null, "--اختر--", new { @class = "form-control", required = "required" })
                            @Html.ValidationMessage("StudyYearId", "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group mb-3 col-sm-6">
                        @Html.Label("نوع الدراسة", htmlAttributes: new { @class = "control-label" })
                        <div class="col-12">
                            @Html.DropDownList("StudyTypeId", null, "--اختر--", new { @class = "form-control", required = "required" })
                            @Html.ValidationMessage("StudyTypeId", "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group mb-3 col-sm-6">
                        @Html.Label("الصف ", htmlAttributes: new { @class = "control-label" })
                        <div class="col-12">
                            @Html.DropDownList("LevelId", null, "--اختر--", new { @class = "form-control", required = "required" })
                            @Html.ValidationMessage("LevelId", "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group mb-3 col-sm-6">
                        @Html.Label("الفصل الدراسي", htmlAttributes: new { @class = "control-label" })
                        <div class="col-12">
                            @Html.DropDownListFor(model => model.StudyClassId, null, "--اختر--", new { @class = "form-control", required = "required" })
                            @Html.ValidationMessageFor(model => model.StudyClassId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group mb-3 col-sm-6">
                        @Html.Label("الفصل", htmlAttributes: new { @class = "control-label" })
                        <div class="col-12">
                            @Html.DropDownListFor(model => model.ClassId, null, "--اختر--", new { @class = "form-control", required = "required" })
                            @Html.ValidationMessageFor(model => model.ClassId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }
                @if (ViewBag.readon == null)
                {
                    <div class="form-group mb-3 col-sm-6">
                        @Html.Label("تاريخ اليوم", htmlAttributes: new { @class = "control-label" })
                        <div class="col-12">
                            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", type = "date", @Value = ViewBag.Date, required = "required" } })
                            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-group mb-3 col-sm-6">
                        @Html.Label("تاريخ اليوم", htmlAttributes: new { @class = "control-label" })
                        <div class="col-12">
                            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", type = "date", @Value = ViewBag.Date, required = "required", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }
                <hr />
                <div class="dataTables_filter mt-2 col-lg-3">
                    <label>بحث:</label>
                    <input type="search" id="search" name="search" class="form-control form-control-sm" onkeyup="searchFunction()">
                </div>
                <div class="form-group mb-3 col-sm-12" style="height:200px;overflow-y:scroll">
                    <div class="card-body">
                        <table class="table table-primary w-100" id="table1">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayName("الكود ")
                                    </th>
                                    <th>
                                        @Html.DisplayName("الاسم ")
                                    </th>
                                    <th>
                                        @Html.CheckBox("All", new { @class = "form-check-input" })

                                        @Html.DisplayName(" الكل حضور ")
                                    </th>

                                </tr>
                            </thead>
                            <tbody id="students" class="mt-2">
                            </tbody>
                        </table>

                    </div>

                </div>

            </div>
        </div>
        <div class="card-footer">
            <div class="row justify-content-end">
                @if (Model.Id == Guid.Empty)
                {
                    @Url.SubmitCreate()
                }
                else
                {
                    @Url.SubmitSave()
                }
            </div>
        </div>
    </div>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var now = new Date();
        now.setMinutes(now.getMinutes() - now.getTimezoneOffset());
        if (document.getElementById('Date').value == "") {
            document.getElementById('Date').value = now.toISOString().slice(0, 10);
        }
        $("#StudyTypeId").change(function () {
            $.get('/StudentsAttendance/getLevels', { Id: $("#StudyTypeId").val() }, function (data) {
                $("#LevelId").empty();
                $("#LevelId").append("<option value=''>--اختر--</option>")
                $.each(data, function (key, value) {
                    $("#LevelId").append("<option value=" + value["Id"] + ">" + value["Name"] + "</option>")
                });
            });
        });
        $("#LevelId").change(function () {
            $.get('/StudentsAttendance/getClasses', { Id: $("#LevelId").val() }, function (data) {
                $("#ClassId").empty();
                $("#ClassId").append("<option value=''>--اختر--</option>")
                $.each(data, function (key, value) {
                    $("#ClassId").append("<option value=" + value["Id"] + ">" + value["Name"] + "</option>")
                });
            });

        });

        $("#ClassId").change(function () {
            $.get('/StudentsAttendance/getStudents', { ClassId: $("#ClassId").val() }, function (data) {
                $("#students").empty();
                $.each(data, function (key, value) {

                    $("#students").append("<tr>");
                    $("#students").append("<td>" + value["Code"] + "</td>");
                    $("#students").append("<td>" + value["StudentName"] + "</td>");
                    $("#students").append("<td><input type='hidden' id='IsAttend[" + key + "].Id' name='IsAttend[" + key + "].Id' value='" + value["StudentId"] + "' /><input type='checkbox' id='IsAttend[" + key + "].Att' name='IsAttend[" + key + "].Att' class='form-check-input' /></td>");
                    $("#students").append("</tr><tr></tr>");

                });
            });
        });

        $("#StudyYearId").change(function () {
            $.get('/StudentsAttendance/getStudyClass', { StudyYearId: $("#StudyYearId").val() }, function (data) {
                $("#StudyClassId").empty();
                $("#StudyClassId").append("<option value=''>--اختر--</option>")
                $.each(data, function (key, value) {
                    $("#StudyClassId").append("<option value=" + value["Id"] + ">" + value["Name"] + "</option>")
                });
            });
        });

        $.get('/StudentsAttendance/getStudents', { ClassId: $("#ClassId").val() }, function (data) {
            $("#students").empty();
            $.each(data, function (key, value) {
                $.get('/StudentsAttendance/getStudentAttendans', { StudentId: value["StudentId"], Date: document.getElementById("Date").value, StudyYearId: $("#StudyYearId").val(), ClassId: $("#ClassId").val(), StudyClassId: $("#StudyClassId").val() }, function (data1) {
                    if (data1 == "0") {

                        $("#students").append("<tr>");
                        $("#students").append("<td>" + value["Code"] + "</td>");
                        $("#students").append("<td>" + value["StudentName"] + "</td>");
                        $("#students").append("<td><input type='hidden' id='IsAttend[" + key + "].Id' name='IsAttend[" + key + "].Id' value='" + value["StudentId"] + "' /><input type='checkbox' id='IsAttend[" + key + "].Att' name='IsAttend[" + key + "].Att' class='form-check-input' /></td>");
                        $("#students").append("</tr><tr></tr>");

                    }
                    else {
                        $("#students").append("<tr>");
                        $("#students").append("<td>" + value["Code"] + "</td>");
                        $("#students").append("<td>" + value["StudentName"] + "</td>");
                        $("#students").append("<td><input type='hidden' id='IsAttend[" + key + "].Id' name='IsAttend[" + key + "].Id' value='" + value["StudentId"] + "' /><input type='checkbox' id='IsAttend[" + key + "].Att' name='IsAttend[" + key + "].Att' class='form-check-input' checked /></td>");
                        $("#students").append("</tr><tr></tr>");
                    }
                });
            });
            document.getElementById('StudyYearId').disabled = true;
            document.getElementById('StudyTypeId').disabled = true;
            document.getElementById('LevelId').disabled = true;

            var SClass = document.getElementById('StudyClassId').value;
            var Class = document.getElementById('ClassId').value;

            document.getElementById('StudyClassId').disabled = true;
            document.getElementById('ClassId').disabled = true;


            $('#stud').append("<input type='hidden' id='StudyClassId' name='StudyClassId' value='" + SClass + "'/>");
            $('#stud').append("<input type='hidden' id='ClassId' name='ClassId' value='" + Class + "'/>");

        });

        function searchFunction() {
            $.get('/StudentsAttendance/getStudentsBysearch', { ClassId: $("#ClassId").val(), search: document.getElementById("search").value }, function (data) {
                $("#students").empty();
                if ($("#Id").val() == "00000000-0000-0000-0000-000000000000") {

                    $.each(data, function (key, value) {

                        $("#students").append("<tr>");
                        $("#students").append("<td>" + value["Code"] + "</td>");
                        $("#students").append("<td>" + value["StudentName"] + "</td>");
                        $("#students").append("<td><input type='hidden' id='IsAttend[" + key + "].Id' name='IsAttend[" + key + "].Id' value='" + value["StudentId"] + "' /><input type='checkbox' id='IsAttend[" + key + "].Att' name='IsAttend[" + key + "].Att' class='form-check-input' /></td>");
                        $("#students").append("</tr><tr></tr>");

                    });
                }
                else {
                    $.each(data, function (key, value) {
                        $.get('/StudentsAttendance/getStudentAttendans', { StudentId: value["StudentId"], Date: document.getElementById("Date").value, StudyYearId: $("#StudyYearId").val(), ClassId: $("#ClassId").val(), StudyClassId: $("#StudyClassId").val() }, function (data1) {
                            if (data1 == "0") {

                                $("#students").append("<tr>");
                                $("#students").append("<td>" + value["Code"] + "</td>");
                                $("#students").append("<td>" + value["StudentName"] + "</td>");
                                $("#students").append("<td><input type='hidden' id='IsAttend[" + key + "].Id' name='IsAttend[" + key + "].Id' value='" + value["StudentId"] + "' /><input type='checkbox' id='IsAttend[" + key + "].Att' name='IsAttend[" + key + "].Att' class='form-check-input' /></td>");
                                $("#students").append("</tr><tr></tr>");

                            }
                            else {
                                $("#students").append("<tr>");
                                $("#students").append("<td>" + value["Code"] + "</td>");
                                $("#students").append("<td>" + value["StudentName"] + "</td>");
                                $("#students").append("<td><input type='hidden' id='IsAttend[" + key + "].Id' name='IsAttend[" + key + "].Id' value='" + value["StudentId"] + "' /><input type='checkbox' id='IsAttend[" + key + "].Att' name='IsAttend[" + key + "].Att' class='form-check-input' checked /></td>");
                                $("#students").append("</tr><tr></tr>");
                            }
                        });
                    });
                }
            });
        }
       
        $("#All").change(function () {
            if (document.getElementById('All').checked) {
                var rowCount = $('#table1 tr').length;
                for (var i = 0; i < rowCount; i++) {
                    document.getElementById('IsAttend[' + i + '].Att').checked = true;
                }
            }
            else {
                var rowCount = $('#table1 tr').length;
                for (var i = 0; i < rowCount; i++) {
                    document.getElementById('IsAttend[' + i + '].Att').checked = false;
                }
            }
        });

    </script>
}