@model IEnumerable<NurseryProject.Dtos.RevenuesTypes.RevenuesTypesDto>
@using NurseryProject.Utilities
@{
    ViewBag.Title = "ادارة انواع الايرادات ";

}
<div class="card">
    <div class="card-header">

        <div class="row">
            <h2 class="col">  </h2>
            <p class="col-auto">
                @Url.Create()
            </p>
        </div>
    </div>
    <div class="card-body">
        <table id="datatable" class="table table-striped dt-responsive  nowrap w-100">
            <thead class="bg-soft-primary">
                <tr>

                    <th>
                        @Html.DisplayName("نوع الايراد")
                    </th>
                    <th>
                        @Html.DisplayName("البيان")
                    </th>
                    <th>
                        @Html.DisplayName("ملاحظات")
                    </th>
                    <th>
                        @Html.DisplayName("عمليات")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ParentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Notes)
                    </td>
                    @if (item.Id == Guid.Parse("73D54EA9-BA7D-4EC3-90EC-C7499C859FB8") || item.Id == Guid.Parse("0F54C94D-B010-4360-8EB1-B93E05615065"))
                    {
                        <td></td>
                    }
                    else
                    {
                        <td>
                            @Url.Edit(routeValues: new { id = item.Id })
                            @Url.Delete(routeValues: new { id = item.Id })
                        </td>
                    }
                </tr>
                }
            </tbody>
        </table>

    </div>
</div>