@model NurseryProject.Dtos.EmployeeReports.EmployeeReportsDto
@using NurseryProject.Utilities
@{
    ViewBag.Title = (Model.Id == Guid.Empty ? "إضافة " : "تعديل ") + "  التقرير";
    string action = Model.Id == Guid.Empty ? "Create" : "Edit";
    ViewBag.MainPage = " تقارير الموظفين";

}
@using (Html.BeginForm(action, "EmployeeReports", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="card">
        <div class="card-header">
            <div class="row justify-content-between">
                <h4 class="col-auto">@ViewBag.Title</h4>
                @Url.BackToList()
            </div>
        </div>
        <div class="card-body">
            @Html.HiddenFor(model => model.Id)
            <div class="row">
                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("نوع التقرير", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.DropDownListFor(model => model.EmployeeReportTypeId, null, "--اختر--", new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(model => model.EmployeeReportTypeId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("الطالب", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.DropDownListFor(model => model.EmployeeId, null, "--اختر--", new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("من تاريخ", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.EditorFor(model => model.ReportDateFrom, new { htmlAttributes = new { @class = "form-control", @type = "date", required = "required" } })
                        @Html.ValidationMessageFor(model => model.ReportDateFrom, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("الي تاريخ", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.EditorFor(model => model.ReportDateTo, new { htmlAttributes = new { @class = "form-control", @type = "date", required = "required" } })
                        @Html.ValidationMessageFor(model => model.ReportDateTo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-12" id="tools">

                </div>
                <div class="form-group mb-3 col-sm-12">
                    @Html.Label("ملاحظات ", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row justify-content-end">
                @if (Model.Id == Guid.Empty)
                {
                    @Url.SubmitAdd()
                }
                else
                {
                    @Url.SubmitSave()
                }
            </div>
        </div>
    </div>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $("#EmployeeReportTypeId").change(function () {
            $.get('/EmployeeReports/getTools', { Id: $("#EmployeeReportTypeId").val() }, function (data) {
                $("#tools").empty();
                var j = 0;
                $.each(data, function (key, value) {
                    var t = "<div class='row'><div class='col-sm-6'><label class='control-label'>" + value["Name"] + "</label>";
                    t += "<div class='col-12'><input id='EmployeeReportItemsDto[" + j + "].EmployeeReportToolId' name='EmployeeReportItemsDto[" + j + "].EmployeeReportToolId' value='" + value["Id"] + "' type='hidden' /><input id='EmployeeReportItemsDto[" + j + "].Value' name='EmployeeReportItemsDto[" + j +"].Value' readonly /></div>";
                    t += "</div></div>";
                    $("#tools").append(t)
                    j++;
                });
            });
        });


    </script>
}