@model IEnumerable<NurseryProject.Dtos.EmployeeClasses.EmployeeClassesDto>
@using NurseryProject.Utilities
@{
    ViewBag.Title = "ادارة المعلمين بالفصول  ";
}
<div class="card">
    <div class="card-header">

        <div class="row">
            <h2 class="col">  </h2>
            <p class="col-auto">
                @Url.Create()
            </p>
        </div>
    </div>
    <div class="card-body">
        <table id="datatable" class="table table-striped dt-responsive nowrap w-100">
            <thead class="bg-soft-primary">
                <tr>
                    <th>
                        @Html.DisplayName("الفرع ")
                    </th>
                    <th>
                        @Html.DisplayName("العام الدراسي")
                    </th>
                    <th>
                        @Html.DisplayName("نوع الدراسة")
                    </th>
                    <th>
                        @Html.DisplayName("الصف ")
                    </th>

                    <th>
                        @Html.DisplayName("الفصل ")
                    </th>

                    <th>
                        @Html.DisplayName("المادة ")
                    </th>

                    <th>
                        @Html.DisplayName("المعلم ")
                    </th>

                    <th>
                        @Html.DisplayName("عمليات")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudyPlaceName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudyYearName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudyTypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LevelName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassName)

                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.SubjecName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeName)
                    </td>
                    <td>
                        @Url.Edit(routeValues: new { id = item.Id })
                        @Url.Delete(routeValues: new { id = item.Id })
                    </td>
                </tr>
                }
            </tbody>
        </table>

    </div>
</div>