@model IEnumerable<NurseryProject.Dtos.HomePage.HomePagesDro>

@{
    ViewBag.Title = TempData["SettingTitle"];
}

<hr />
@*<div class="text-center">
    <img src="@TempData["SettingLogo"]" height="300" />
</div>*@
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4 col-xl-3">
            <div class="card card-h-100">
                <div class="card-body">
                    <span class="text-muted mb-3 lh-1 d-block text-truncate"><a href="@item.Link"><i class="@item.Icon p-1"></i>@item.Name</a></span>
                    @*<h1 class="text-info">@item.</h1>*@
                    <div class="text-nowrap">
                        @*<span class="badge bg-soft-success text-success">+ info.LastMonth</span>*@
                        <span class="ms-1 text-muted font-size-13">@item.Name</span>
                    </div>
                </div>
            </div>
        </div>
    }



</div>
