@using NurseryProject.Utilities
@{
    ViewBag.Title = "تقرير المصروفات";
    ViewBag.MainPage = "المصروفات";

}
@using (Html.BeginForm("CollectedReports", "Expenses", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="card">
        <div class="card-header">
            <div class="row justify-content-between">
                <h4 class="col-auto">@ViewBag.Title</h4>
                @Url.BackToList()
            </div>
        </div>
        <div class="card-body">
            <div class="row">

                <div class="form-group mb-3 col-sm-6">

                    @Html.Label("الفرع ", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.DropDownList("StudyPlaceId", null, "--اختر--", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("الفصل ", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.DropDownList("ClassId", null, "--اختر--", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("نوع المصروف ", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.DropDownList("ExpenseTypeParentId", null, "--اختر--", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("البيان ", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.DropDownList("ExpenseTypeId", null, "--اختر--", new { @class = "form-control" })
                    </div>
                </div>
             
                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("من تاريخ", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.Editor("date", new { htmlAttributes = new { @class = "form-control", type = "date" } })
                    </div>
                </div>

                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("الي تاريخ", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.Editor("date2", new { htmlAttributes = new { @class = "form-control", type = "date" } })
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row justify-content-end">
                <button type='submit' class='btn btn-primary  waves-effect waves-light px-3 m-1 col-12 col-md-auto'><i class='fas fa-search me-1'></i>عرض</button>
            </div>
        </div>
    </div>
}

@if (ViewBag.Expenses != null)
{
    <div class="card">
        <div class="card-header">
            تقرير المصروفات
        </div>
        <div class="card-body">
            <table id="datatable" class="table table-striped dt-responsive  nowrap w-100 table-bordered">
                <thead class="bg-soft-primary">
                    <tr>
                        <th>
                            @Html.DisplayName(" نوع المصروف الرئيسي")
                        </th>
                        <th>
                            @Html.DisplayName("نوع المصروف")
                        </th>
                        <th>
                            @Html.DisplayName("المبلغ ")
                        </th>
                        <th>
                            @Html.DisplayName("الضريبة ")
                        </th>
                        <th>
                            @Html.DisplayName("الصافي ")
                        </th>

                        <
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in ViewBag.Expenses)
                    {
                        <tr>
                            <td>
                                @item.ExpenseName
                            </td>
                            <td>
                                @item.NoteName
                            </td>
                            <td>
                                @item.Amount
                            </td>
                            <td>
                                @item.Taxes
                            </td>
                            <td>
                                @item.Total
                            </td>
                        </tr>
                    }
                </tbody>

                <tfoot class="text-center">
                    <tr>
                        <td>
                            الاجمالي : @ViewBag.Amount  جنيه

                        </td>  
                        <td>
    اجمالي الضريبة : @ViewBag.Taxes جنيه

</td>  
                        <td>
    الصافي : @ViewBag.Total جنيه

</td>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>

}
@section scripts{
    <script>

        $("#ExpenseTypeParentId").change(function () {
            $.get('/Expenses/getExpensesTypesReport', { Id: $("#ExpenseTypeParentId").val() }, function (data) {
                $("#ExpenseTypeId").empty();
                $("#ExpenseTypeId").append("<option value=''>--اختر--</option>")
                $.each(data, function (key, value) {
                    $("#ExpenseTypeId").append("<option value=" + value["Id"] + ">" + value["Name"] + "</option>")
                });
            });
        });
        $("#StudyPlaceId").change(function () {
            $.get('/Expenses/getClassesReport', { Id: $("#StudyPlaceId").val() }, function (data) {
                $("#ClassId").empty();
                $("#ClassId").append("<option value=''>--اختر--</option>")
                $.each(data, function (key, value) {
                    $("#ClassId").append("<option value=" + value["Id"] + ">" + value["Name"] + "</option>")
                });
            });
        });
    </script>
}