@model IEnumerable<NurseryProject.Dtos.Expenses.ExpensesDto>
@using NurseryProject.Utilities
@{
    ViewBag.Title = "تسجيل المصروفات ";
}
<div class="card">
    <div class="card-header">

        <div class="row">
            <h2 class="col">  </h2>
            <p class="col-auto">
                @Url.Create()
            </p>
        </div>
    </div>
    <div class="card-body">
        <table id="datatable" class="table table-striped dt-responsive  nowrap w-100">
            <thead class="bg-soft-primary">
                <tr>
                    <th>
                        @Html.DisplayName("العام الدراسي")
                    </th>
                    <th>
                        @Html.DisplayName("الفرع ")
                    </th>
                    <th>
                        @Html.DisplayName("الفصل ")
                    </th>
                    <th>
                        @Html.DisplayName("نوع المصروف ")
                    </th>
                    <th>
                        @Html.DisplayName("البيان")
                    </th>
                    <th>
                        @Html.DisplayName("قيمة المصروف")
                    </th>
                    <th>
                        @Html.DisplayName("بيد")
                    </th>
                    <th>
                        @Html.DisplayName("التاريخ")
                    </th>
                    <th>
                        @Html.DisplayName("ملاحظات")
                    </th>
                    <th>
                        @Html.DisplayName("عمليات")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudyYearName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudyPlaceName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpenseTypePatentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpenseTypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeName)
                    </td>
                    <td>
                        @item.Date.Date.ToString("yyyy-MM-dd")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Notes)
                    </td>
                    <td>
                        @Url.Edit(routeValues: new { id = item.Id })
                        @Url.Delete(routeValues: new { id = item.Id })
                    </td>
                </tr>
                }
            </tbody>
        </table>

    </div>
</div>