@model NurseryProject.Models.Employee
@using NurseryProject.Utilities
@{
    ViewBag.Title = (Model.Id == Guid.Empty ? "إضافة " : "تعديل ") + " موظف  ";
    string action = Model.Id == Guid.Empty ? "Create" : "Edit";
    ViewBag.MainPage = "الموظفين";

}
@using (Html.BeginForm(action, "Employees", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="card">
        <div class="card-header">
            <div class="row justify-content-between">
                <h4 class="col-auto">@ViewBag.Title</h4>
                @Url.BackToList()
            </div>
        </div>
        <div class="card-body">
            @Html.HiddenFor(model => model.Id)
            <div class="row">
                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("كود الموظف", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", type = "number" } })
                        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("اسم الموظف", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control ", required = "required" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("تاريخ الميلاد", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.TextBoxFor(model => model.BirthDate, new { @class = "form-control", @Value = @ViewBag.BirthDate, type = "date", required = "required" })
                        @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("الصورة الشخصية", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        <input type="file" name="Image1" id="Image1" accept="image/*" class="form-control" onchange="loadFile(event)" />

                        @*@Html.Editor("Image1", new { htmlAttributes = new { @class = "form-control", type = "file", accept = "image/*"} })*@
                        @Html.ValidationMessage("Image1", "", new { @class = "text-danger" })
                    </div>
                    @if (Model.Id == Guid.Empty)
                    {
                        <img id="output" height="100" width="100" style="display:none" />
                    }
                    else
                    {
                        <img id="output" height="100" width="100" src="@Model.Image" />
                    }
                </div>
                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("النوع ", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.DropDownListFor(model => model.GenderId, null, "--اختر--", new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(model => model.GenderId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("المؤهل ", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.EditorFor(model => model.Qualification, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        @Html.ValidationMessageFor(model => model.Qualification, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("الحالة الاجتماعية ", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.DropDownListFor(model => model.MaritalStateId, null, "--اختر--", new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(model => model.MaritalStateId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("الادارة ", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.DropDownList("DepartmentId", null, "--اختر--", new { @class = "form-control", required = "required" })
                        @*@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("الوظيفة", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.DropDownListFor(model => model.JopId, null, "--اختر--", new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(model => model.JopId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-12">
                    @Html.Label("العنوان ", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("رقم التليفون", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("تاريخ التعيين ", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.TextBoxFor(model => model.JoiningDate, new { @class = "form-control", @Value = @ViewBag.JoiningDate, type = "date", required = "required" })
                        @Html.ValidationMessageFor(model => model.JoiningDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("قيمة الاجر اليومي ", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.TextBoxFor(model => model.WorkDayCost, new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(model => model.WorkDayCost, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-12">
                    @Html.Label("ملاحظات ", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row justify-content-end">
                @if (Model.Id == Guid.Empty)
                {
                    @Url.SubmitAdd()
                }
                else
                {
                    @Url.SubmitSave()
                }
            </div>
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">
        $("#DepartmentId").change(function () {
            $.get('/Employees/getJops', { Id: $("#DepartmentId").val() }, function (data) {
                $("#JopId").empty();
                $("#JopId").append("<option value=''>--اختر--</option>")
                $.each(data, function (key, value) {
                    $("#JopId").append("<option value=" + value["Id"] + ">" + value["Name"] + "</option>")
                });
            });
        });

        var now = new Date();
        now.setMinutes(now.getMinutes() - now.getTimezoneOffset());
        if (document.getElementById('BirthDate').value == "") {
            document.getElementById('BirthDate').value = now.toISOString().slice(0, 10);
        }
        if (document.getElementById('JoiningDate').value == "") {
            document.getElementById('JoiningDate').value = now.toISOString().slice(0, 10);
        }
       
    </script>
}