@model IEnumerable<NurseryProject.Dtos.EmployeesReceipt.EmployeesReceiptDto>
@using NurseryProject.Utilities
@{
    ViewBag.Title = "ادارة اجور الموظفين ";

}
<div class="card">
    <div class="card-header">

        <div class="row">
            <h2 class="col">  </h2>
            <p class="col-auto">
                @Url.Create()
            </p>
        </div>
    </div>
    <div class="card-body">
        <table id="datatable" class="table table-striped dt-responsive  nowrap w-100 table-bordered">
            <thead class="bg-soft-primary">
                <tr>

                    <th>
                        @Html.DisplayName("الكود ")
                    </th>
                    <th>
                        @Html.DisplayName("الاسم")
                    </th>
                    <th>
                        @Html.DisplayName("التليفون")
                    </th>
                    <th>
                        @Html.DisplayName("القسم")
                    </th>
                    <th>
                        @Html.DisplayName("الوظيفة")
                    </th>
                    <th>
                        @Html.DisplayName("الشهر")
                    </th>
                    <th>
                        @Html.DisplayName("قيمة الاجر اليومي")
                    </th>
                    <th>
                        @Html.DisplayName("عدد ايام الحضور")
                    </th>
                    <th>
                        @Html.DisplayName("عدد ايام الغياب")
                    </th>
                    <th>
                        @Html.DisplayName("حساب ايام العمل")
                    </th>
                    <th>
                        @Html.DisplayName("تاريخ القبض ")
                    </th>
                    <th>
                        @Html.DisplayName("اجمالي الخصومات ")
                    </th>
                    <th>
                        @Html.DisplayName("اجمالي الاضافات ")
                    </th>
                    <th>
                        @Html.DisplayName("صافي المرتب ")
                    </th>
                    <th>
                        @Html.DisplayName(" عمليات ")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Jop)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Month)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WorkDayCost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeesAttended)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeesNoAttended)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalCost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalDiscountCost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalIncreasesCost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FinalTotalCost)
                    </td>
                    <td>
                        @*@Url.Edit(routeValues: new { id = item.Id })*@
                        @Url.Delete(routeValues: new { id = item.Id })
                    </td>
                </tr>
                }
            </tbody>
        </table>

    </div>
</div>
@section Scripts{

}