@model IEnumerable<NurseryProject.Dtos.Exams.ExamsDto>
@using NurseryProject.Utilities
@{
    ViewBag.Title = "ادارة الاختبارات ";
}
<div class="card">
    <div class="card-header">

        <div class="row">
            <h2 class="col">  </h2>
            <p class="col-auto">
                @Url.Create()
            </p>
        </div>
    </div>
    <div class="card-body">
        <table id="datatable" class="table table-striped dt-responsive  nowrap w-100">
            <thead>
                <tr>
                   
                    <th>
                        @Html.DisplayName("نوع الدراسة")
                    </th>
                    <th>
                        @Html.DisplayName("الصف الدراسي")
                    </th>
                    <th>
                        @Html.DisplayName("المادة ")
                    </th>
                    <th>
                        @Html.DisplayName("نوع الاختبار ")
                    </th>
                    <th>
                        <label>سؤال <i class="fas fa-check-square"></i> | عدد اسئلة <i class="far fa-square"></i></label>
                    </th>
                    <th>
                        @Html.DisplayName("الدرجة الكلية ")
                    </th>
                    <th>
                        @Html.DisplayName("عمليات")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                  
                    <td>
                        @Html.DisplayFor(modelItem => item.StudyTypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LevelName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubjectName)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExamTypeName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.IsOneQuestion)
                        
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalDegree)
                    </td>
                   
                    <td>
                        @*<a class='btn btn-soft-warning waves-effect waves-light p-2' href="/Subscriptions/Collect/@item.Id" title="تحصيل قسط الاشتراك"><i class='fas fa-coins me-1'></i></a>*@

                        @Url.Edit(routeValues: new { id = item.Id })
                        @Url.Delete(routeValues: new { id = item.Id })

                    </td>
                </tr>
                }
            </tbody>
        </table>

    </div>
</div>