@model NurseryProject.Models.EmployeesWorkShift
@using NurseryProject.Utilities
@{
    ViewBag.Title = (Model.Id == Guid.Empty ? "إضافة " : "تعديل ") + " فترة موظف  ";
    string action = Model.Id == Guid.Empty ? "Create" : "Edit";
    ViewBag.MainPage = "فترات الموظفين";

}
@using (Html.BeginForm(action, "EmployeesWorkShifts", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="card">
        <div class="card-header" id="empp">
            <div class="row justify-content-between">
                <h4 class="col-auto">@ViewBag.Title</h4>
                @Url.BackToList()
            </div>
        </div>
        <div class="card-body">
            @Html.HiddenFor(model => model.Id)
            <div class="row">

                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("العام الدراسي", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.DropDownListFor(model => model.StudyYearId, new SelectList(ViewBag.StudyYears, "Id", "Name"), "--اختر--", new { @class = "form-control ", required = "required" })
                        @Html.ValidationMessageFor(model => model.StudyYearId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("الادارة", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.DropDownList("DepartmentId", null, "--اختر--", new { @class = "form-control ", required = "required" })
                        @Html.ValidationMessage("DepartmentId", "", new { @class = "text-danger" })
                    </div>
                </div>
                @*<div class="form-group mb-3 col-sm-6" id="empId" style="height:200px;overflow-y:scroll">
                        @Html.Label("الموظف", htmlAttributes: new { @class = "control-label" })
                        <div class="col-12">
                            @Html.DropDownListFor(model => model.EmployeeId, null, "--اختر--", new { @class = "form-control ", required = "required" })
                            @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
                        </div>
                    </div>*@
                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("الفترة", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.DropDownListFor(model => model.WorkShiftId, new SelectList(ViewBag.WorkShifts, "Id", "Name"), "--اختر--", new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(model => model.WorkShiftId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-12" style="height:400px;overflow-y:scroll">
                    <label class="control-label text-center">الموظفين</label>
                    <hr />
                    <div class="dataTables_filter mt-2 col-lg-3">
                        <label>بحث:</label>
                        <input type="search" id="search" name="search" class="form-control form-control-sm" onkeyup="searchFunction()">
                    </div>
                    <div class="col-12">

                        <table id="datatable1" class="table table-striped dt-responsive nowrap w-100 mt-2">

                            <thead class="bg-soft-primary"><tr><th>الكود</th><th>الاسم</th><th>الكل <input type="checkbox" class="form-check-input" id="All" name="All" value="" /></th></tr></thead>

                            <tbody id="databody"></tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-12">
                    @Html.Label("ملاحظات ", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <div class="row justify-content-end">
                @if (Model.Id == Guid.Empty)
                {
                    @Url.SubmitAdd()
                }
                else
                {
                    @Url.SubmitSave()
                }
            </div>
        </div>
    </div>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        //$("#DepartmentId").change(function () {
        //    $.get('/ClassesLeaders/getEmployees', { DepartmentId: $("#DepartmentId").val() }, function (data) {
        //        $("#EmployeeId").empty();
        //        $("#EmployeeId").append("<option value=''>--اختر--</option>")
        //        $.each(data, function (key, value) {
        //            $("#EmployeeId").append("<option value=" + value["Id"] + ">" + value["Name"] + "</option>")

        //        });
        //    });
        //});
        
        function searchFunction() {
            $.get('/EmployeesWorkShifts/getEmployeesBysearch', { DepartmentId: $("#DepartmentId").val(), search: document.getElementById("search").value }, function (data) {
                $("#databody").empty();
                $.each(data, function (key, value) {
                    $("#databody").append('<tr><td>' + value["Code"] + '</td><td>' + value["Name"] + '</td><td><input type="hidden" id="emp[' + key + '].Id" name="emp[' + key + '].Id" value="' + value["Id"] + '"/><input type="checkbox" class="form-check-input p-1" id="emp[' + key + '].Att" name="emp[' + key + '].Att" /></td></tr>');
                });
            });
        }

        $("#DepartmentId").change(function () {
            $.get('/EmployeesWorkShifts/getEmployees', { DepartmentId: $("#DepartmentId").val() }, function (data) {
                $("#databody").empty();
                $.each(data, function (key, value) {
                    $("#databody").append('<tr><td>' + value["Code"] + '</td><td>' + value["Name"] + '</td><td><input type="hidden" id="emp[' + key + '].Id" name="emp[' + key + '].Id" value="' + value["Id"] + '"/><input type="checkbox" class="form-check-input p-1" id="emp[' + key + '].Att" name="emp[' + key + '].Att" /></td></tr>');
                });
            });
        });

        $("#All").change(function () {

            if (document.getElementById('All').checked) {
                var rowCount = $('#datatable1 tr').length;

                for (var i = 0; i < rowCount; i++) {
                    document.getElementById("emp[" + i + "].Att").checked = true;
                }
            }
            else {
                var rowCount = $('#datatable1 tr').length;
                for (var i = 0; i < rowCount; i++) {
                    document.getElementById("emp[" + i + "].Att").checked = false;
                }
            }
        });
        $.get('/EmployeesWorkShifts/getEmployees', { DepartmentId: $("#DepartmentId").val() }, function (data) {
            $("#databody").empty();

            $.each(data, function (key, value) {
                $.get('/EmployeesWorkShifts/getEmployeesWorkShifts', { EmployeeId: value["Id"], DepartmentId: $("#DepartmentId").val(), WorkShiftId: $("#WorkShiftId").val(), StudyYearId: $("#StudyYearId").val() }, function (data1) {
                    if (data1 == "0") {
                        $("#databody").append("<tr><td>" + value["Code"] + "</td><td>" + value["Name"] + " </td><td><input type='hidden' id='emp[" + key + "].Id' name='emp[" + key + "].Id' value='" + value["Id"] + "'/><input type='checkbox' class='form-check-input p-1' id='emp[" + key + "].Att' name='emp[" + key + "].Att' /></td></tr>")
                    }
                    else {
                        $("#databody").append("<tr><td>" + value["Code"] + "</td><td>" + value["Name"] + " </td><td><input type='hidden' id='emp[" + key + "].Id' name='emp[" + key + "].Id' value='" + value["Id"] + "'/><input type='checkbox' class='form-check-input p-1' id='emp[" + key + "].Att' name='emp[" + key + "].Att' checked /></td></tr>")
                    }
                });
            });

            var mod1 = document.getElementById('StudyYearId').value;
            var mod2 = document.getElementById('DepartmentId').value;
            var mod3 = document.getElementById('WorkShiftId').value;

            document.getElementById('StudyYearId').disabled = true;
            document.getElementById('DepartmentId').disabled = true;
            document.getElementById('WorkShiftId').disabled = true;


            $('#empp').append("<input type='hidden' id='StudyYearId' name='StudyYearId' value='" + mod1 + "'/>");
            $('#empp').append("<input type='hidden' id='DepartmentId' name='DepartmentId' value='" + mod2 + "'/>");
            $('#empp').append("<input type='hidden' id='WorkShiftId' name='WorkShiftId' value='" + mod3 + "'/>");

        });


    </script>
}