@model NurseryProject.Dtos.Students.StudentsReportDto
@using NurseryProject.Utilities
@using NurseryProject.Enums
@{
    ViewBag.Title = "تقرير شامل للطلاب";
    ViewBag.MainPage = "تقارير الطلاب";
    var count = " لم يمتحن بعد  ";
    var num = "%";
}
@using (Html.BeginForm("Reports", "Students", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="card">
        <div class="card-header">
            <div class="row justify-content-between">
                <h4 class="col-auto">@ViewBag.Title</h4>
                @Url.BackToList()
            </div>
        </div>
        <div class="card-body">
            <div class="row">

                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("العام الدراسي", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.DropDownList("StudyYearId", null, "--اختر--", new { @class = "form-control", required = "required" })
                        @Html.ValidationMessage("StudyYearId", "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("الطالب ", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.DropDownList("StudentId", null, "--اختر--", new { @class = "form-control searchable" })
                        @Html.ValidationMessage("StudentId", "", new { @class = "text-danger" })

                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row justify-content-end">
                <button type='submit' class='btn btn-primary  waves-effect waves-light px-3 m-1 col-12 col-md-auto'><i class='fas fa-search me-1'></i>عرض</button>
            </div>
        </div>
    </div>

}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body" id="Divbody">


            </div>

        </div>
    </div>
</div>


@if (ViewBag.Students != null)
{
    if (ViewBag.Count > 1)
    {
        <div class="card">
            <div class="card-header">
                <div class="row justify-content-between">
                    <h4 class="col-auto">
                        تقارير الطلاب
                    </h4>
                </div>
            </div>
            <div class="card-body">
                <table id="datatable" class="table table-striped dt-responsive  nowrap w-100 table-bordered">
                    <thead class="bg-soft-primary">
                        <tr>
                            <th>
                                @Html.DisplayName("الكود")
                            </th>
                            <th>
                                @Html.DisplayName("الاسم")
                            </th>
                            <th>
                                @Html.DisplayName("رقم التليفون")
                            </th>
                            <th>
                                @Html.DisplayName("العنوان")
                            </th>
                            <th>
                                @Html.DisplayName("الفصل")
                            </th>
                            <th>
                                @Html.DisplayName("عدد الاقساط المتاخرة")
                            </th>
                            <th>
                                @Html.DisplayName("عدد الاقساط الطبيعية")
                            </th>
                            <th>
                                @Html.DisplayName("عدد الاقساط المدفوعة جزئيا")
                            </th>
                            <th>
                                @Html.DisplayName("عدد الاقساط المدفوعة متاخر")
                            </th>
                            <th>
                                @Html.DisplayName("عددايام الحضور  ")
                            </th>
                            <th>
                                @Html.DisplayName("عددايام الغياب  ")
                            </th>
                            <th>
                                @Html.DisplayName("عدد مرات التحويل بين الفصول")
                            </th>
                            <th>
                                @Html.DisplayName("معدل درجات الامتحانات")
                            </th>
                            <th>@Html.DisplayName("التحويل بين الفصول")</th>
                            <th>
                                @Html.DisplayName("معلمي فصله")
                            </th> 
                            <th>
                                @Html.DisplayName("تحويل الي صف اخر ")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.Students)
                        {
                            <tr>
                                <td>
                                    @item.Code
                                </td>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    <a href="tel:@item.Phone">@item.Phone</a>
                                </td>

                                <td>
                                    @item.Address
                                </td>
                                <td>
                                    @item.ClassName
                                </td>

                                <td>
                                    @item.CountOfLatecomers
                                </td>
                                <td>
                                    @item.CountOfNormal
                                </td>
                                <td>
                                    @item.CountOfPart
                                </td>
                                <td>
                                    @item.CountOfPaidNoTime
                                </td>
                                <td>
                                    @item.AttendanceNum
                                </td>

                                <td>
                                    @item.NoAttendanceNum
                                </td>
                                <td>
                                    @item.CountOfTransferClasses
                                </td>
                                <td>
                                    @if (@item.ExamsRate != "")
                                    {
                                        @item.ExamsRate @num
                                    }
                                    else
                                    {
                                        @count
                                    }
                                </td>
                                <td>

                                    @if (item.TransferClasses.Count > 0)
                                    {
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>الفرع </th>
                                                    <th>نوع الدراسة </th>
                                                    <th>الصف </th>
                                                    <th>من قصل </th>
                                                    <th>الي فصل </th>
                                                    <th>بتاريخ </th>
                                                    <th>ملاحظات </th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item2 in item.TransferClasses)
                                                {
                                                    <tr>
                                                        <td>
                                                            @item2.StudyPlaceName
                                                        </td>
                                                        <td>
                                                            @item2.StudyTypeName
                                                        </td>
                                                        <td>
                                                            @item2.LevelName
                                                        </td>
                                                        <td>
                                                            @item2.ClassFromName
                                                        </td>
                                                        <td>
                                                            @item2.ClassToName
                                                        </td>
                                                        <td>
                                                            @item2.Date
                                                        </td>
                                                        <td>
                                                            @item2.Notes
                                                        </td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    }

                                </td>
                                <td>
                                    @if (item.Employees.Count > 0)
                                    {
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>الاسم </th>
                                                    <th>رقم التليفون </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item2 in item.Employees)
                                                {
                                                    <tr>
                                                        <td>
                                                            م.  @item2.EmployeeName
                                                        </td>
                                                        <td>
                                                            | <a href="tel:@item2.EmployeePhone">@item2.EmployeePhone</a>
                                                        </td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    }

                                </td>
                                <td>
                                    <a href="/StudentsLevelsTransfer/Search" title="تحويل الي صف اخر"><i class="fas fa-exchange-alt"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    }
    else
    {
        <div class="card">
            <div class="card-header mb-3">
                <div class="row justify-content-between">
                    <h4 class="col-auto">
                        تقرير طالب
                    </h4>
                </div>
            </div>
            <div class="card-body">
                @foreach (var item in ViewBag.Students)
                {
                    <table id="" class="table table-striped dt-responsive  nowrap w-100">
                        <thead class="bg-soft-primary">
                            <tr>
                                <th>
                                    @Html.DisplayName("الكود")
                                </th>
                                <th>
                                    @Html.DisplayName("الاسم")
                                </th>
                                <th>
                                    @Html.DisplayName("رقم التليفون")
                                </th>
                                <th>
                                    @Html.DisplayName("العنوان")
                                </th>
                                <th>
                                    @Html.DisplayName("الفصل")
                                </th>
                                <th>
                                    @Html.DisplayName("تحويل الي صف اخر ")
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>
                                    @item.Code
                                </td>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    <a href="tel:@item.Phone">@item.Phone</a>
                                </td>

                                <td>
                                    @item.Address
                                </td>
                                <td>
                                    @item.ClassName
                                </td>
                                <td>
                                    <a href="/StudentsLevelsTransfer/Search" title="تحويل الي صف اخر"><i class="fas fa-exchange-alt"></i></a>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                    <table id="" class="table table-striped dt-responsive  nowrap w-100">
                        <thead class="bg-soft-primary">
                            <tr>
                                <th>
                                    @Html.DisplayName("عدد الاقساط المتاخرة")
                                </th>
                                <th>
                                    @Html.DisplayName("عدد الاقساط الطبيعية")
                                </th>
                                <th>
                                    @Html.DisplayName("عدد الاقساط المدفوعة جزئيا")
                                </th>
                                <th>
                                    @Html.DisplayName("عدد الاقساط المدفوعة متاخر")
                                </th>

                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>
                                    <a class="text-primary" onclick="PaidDetails('@item.Id','@InstallmentTypes.الاقساط_المتاخرة.ToString()')">@item.CountOfLatecomers</a>
                                </td>
                                <td>
                                    <a class="text-primary" onclick="PaidDetails('@item.Id','@InstallmentTypes.الاقساط_الطبيعية.ToString()')">@item.CountOfNormal</a>
                                </td>
                                <td>
                                    <a class="text-primary" onclick="PaidDetails('@item.Id','@InstallmentTypes.الاقساط_االمدفوعة_جزئيا.ToString()')">@item.CountOfPart</a>
                                </td>

                                <td>
                                    <a class="text-primary" onclick="PaidDetails('@item.Id','@InstallmentTypes.الاقساط_المدفوعة_متاخر.ToString()')">@item.CountOfPaidNoTime</a>
                                </td>

                            </tr>

                        </tbody>
                    </table>

                    <table id="" class="table table-striped dt-responsive  nowrap w-100">
                        <thead class="bg-soft-primary">
                            <tr>
                                <th>
                                    @Html.DisplayName("عددايام الحضور")
                                </th>
                                <th>
                                    @Html.DisplayName("عددايام الغياب")
                                </th>
                                <th>
                                    @Html.DisplayName("عدد مرات التحويل بين الفصول")
                                </th>
                                <th>
                                    @Html.DisplayName(" معدل درجات الامتحانات")
                                </th>

                            </tr>
                        </thead>
                        <tbody>

                            <tr>

                                <td>
                                    <a class="text-primary" onclick="AttendDetails('@item.Id', true)">@item.AttendanceNum</a>
                                </td>
                                <td>
                                    <a class="text-primary" onclick="AttendDetails('@item.Id',false)">@item.NoAttendanceNum</a>
                                </td>
                                <td>
                                    <a href="/StudentsClassesTransfer/Index?StudentClassId=@item.StudentClassId" target="_blank">@item.CountOfTransferClasses</a>
                                </td>

                                <td>
                                    @if (@item.ExamsRate != "")
                                    {
                                        using (Html.BeginForm("Reports", "StudentsExamDegrees", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                        {
                                            <input type="hidden" id="StudentId" name="StudentId" value="@item.Id" />
                                            <input type="hidden" id="ClassId" name="ClassId" value="@item.ClassId" />
                                            <input type="hidden" id="LevelId" name="LevelId" value="@item.LevelId" />
                                            <button type="submit" formtarget="_blank" style="border:none">
                                                @item.ExamsRate @num
                                            </button>
                                        }
                                    }
                                    else
                                    {
                                        @count
                                    }
                                </td>

                            </tr>

                        </tbody>
                    </table>

                    <div class="row">

                        <div class="col-lg-12">
                            التحويل بين الفصول :

                            <table id="" class="table table-striped dt-responsive  nowrap w-100">
                                <thead class="bg-soft-primary">
                                    <tr>
                                        <th>الفرع </th>
                                        <th>نوع الدراسة </th>
                                        <th>الصف </th>
                                        <th>من فصل </th>
                                        <th>الي فصل </th>
                                        <th>بتاريخ </th>
                                        <th>ملاحظات </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item2 in item.TransferClasses)
                                    {
                                        <tr>
                                            <td>
                                                @item2.StudyPlaceName
                                            </td>
                                            <td>
                                                @item2.StudyTypeName
                                            </td>
                                            <td>
                                                @item2.LevelName
                                            </td>
                                            <td>
                                                @item2.ClassFromName
                                            </td>
                                            <td>
                                                @item2.ClassToName
                                            </td>
                                            <td>
                                                @item2.Date
                                            </td>
                                            <td>
                                                @item2.Notes
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>


                        </div>

                        <div class="col-lg-12">
                            معلمي فصله :

                            <table id="" class="table table-striped dt-responsive  nowrap w-100">
                                <thead class="bg-soft-primary">
                                    <tr>
                                        <th>الاسم </th>
                                        <th>رقم التليفون </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item2 in item.Employees)
                                    {
                                        <tr>
                                            <td>
                                                م.  @item2.EmployeeName
                                            </td>
                                            <td>
                                                <a href="tel:@item2.EmployeePhone">@item2.EmployeePhone</a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>


                        </div>
                    </div>
                }

            </div>
        </div>
    }
}

@section scripts{
    <script type="text/javascript">
        $("#CityId").change(function () {
            $.get('/Students/getDestrictsReport', { Id: $("#CityId").val() }, function (data) {
                $("#DestrictId").empty();
                $("#DestrictId").append("<option value=''>--اختر--</option>")
                $.each(data, function (key, value) {
                    $("#DestrictId").append("<option value=" + value["Id"] + ">" + value["Name"] + "</option>")
                });
            });
        });

        var now = new Date();
        now.setMinutes(now.getMinutes() - now.getTimezoneOffset());
        if (document.getElementById('BirthDate').value == "") {
            document.getElementById('BirthDate').value = now.toISOString().slice(0, 10);
        }
        if (document.getElementById('JoiningDate').value == "") {
            now.setFullYear(now.getFullYear() + 1);
            document.getElementById('JoiningDate').value = now.toISOString().slice(0, 10);
        }


        function PaidDetails(StudentId, type) {
            console.log(type)
            $.get('/Students/getPaidDetails', { StudentId: StudentId, StudyYearId: $("#StudyYearId").val(), Type: type }, function (data) {
                $("#Divbody").empty();
                $("#Divbody").append("<div class='row'>" + type + " : <hr></div>")
                $.each(data, function (key, value) {
                    $("#Divbody").append(
                        "<div class='row'><div class='col-lg-6'>قيمة القسط : " + value["Amount"] + "</div>" +
                        "<div class='col-lg-6'>تاريخ القسط : " + value["Date"] + "</div>" +
                        "</div><div class='col-lg-6'>القيمة المدفوعة : " + value["PaidAmount"] + "</div>" +
                        "<div class='col-lg-6'>تاريخ الدفع : " + value["PaidDate"] + "</div></div><hr>")
                });
            });
            $("#exampleModal").modal('show');

        }
        function AttendDetails(StudentId, type) {
            console.log(type)
            $.get('/Students/getAttendanceDetails', { StudentId: StudentId, StudyYearId: $("#StudyYearId").val(), Type: type }, function (data) {
                $("#Divbody").empty();
                if (type) {
                    $("#Divbody").append("<div class='row'>الحضور : <hr></div>")
                }
                else {
                    $("#Divbody").append("<div class='row'>الغياب : <hr></div>")
                }
                $.each(data, function (key, value) {
                    $("#Divbody").append(
                        "<div class='row'>التاريخ : " + value["Date"] + "</div>")
                });
            });
            $("#exampleModal").modal('show');

        }
    </script>
}