@model NurseryProject.Models.Student
@using NurseryProject.Utilities
@{
    ViewBag.Title = (Model.Id == Guid.Empty ? "إضافة " : "تعديل ") + " طالب  ";
    string action = Model.Id == Guid.Empty ? "Create" : "Edit";
    ViewBag.MainPage = "الطلاب";

}
@using (Html.BeginForm(action, "Students", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="card">
        <div class="card-header">
            <div class="row justify-content-between">
                <h4 class="col-auto">@ViewBag.Title</h4>
                @Url.BackToList()
            </div>
        </div>
        <div class="card-body">
            @Html.HiddenFor(model => model.Id)
            <div class="row">
                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("كود الطالب", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", type = "number" } })
                        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("اسم الطالب", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("تاريخ الميلاد", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.TextBoxFor(model => model.BirthDate, new { @class = "form-control", @Value = @ViewBag.BirthDate, type = "date", required = "required" })
                        @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("اسم الأم", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.EditorFor(model => model.MotherName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MotherName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("النوع ", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.DropDownListFor(model => model.GenderId, null, "--اختر--", new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(model => model.GenderId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("الصورة الشخصية", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.Editor("Image1", new { htmlAttributes = new { @class = "form-control",type="file",accept="image/*" } })
                        @Html.ValidationMessage("Image1", "", new { @class = "text-danger" })
                    </div>
                </div>
                @*<div class="form-group mb-3 col-sm-6">
            @Html.Label("حالة الطالب ", htmlAttributes: new { @class = "control-label" })
            <div class="col-12">
                @Html.DropDownListFor(model => model.RegistrationTypeId, null, "--اختر--", new { @class = "form-control", required = "required"  })
                @Html.ValidationMessageFor(model => model.RegistrationTypeId, "", new { @class = "text-danger" })
            </div>
        </div>*@
                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("المركز ", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.DropDownList("CityId", null, "--اختر--", new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("المنطقة", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.DropDownListFor(model => model.DestrictId, null, "--اختر--", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DestrictId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("رقم التليفون", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-12">
                    @Html.Label("العنوان ", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("تاريخ الالتحاق ", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.TextBoxFor(model => model.JoiningDate,  new { @class = "form-control", @Value = @ViewBag.JoiningDate, type = "date", required = "required" })
                        @Html.ValidationMessageFor(model => model.JoiningDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-12">
                    @Html.Label("ملاحظات ", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row justify-content-end">
                @if (Model.Id == Guid.Empty)
                {
                    @Url.SubmitAdd()
                }
                else
                {
                    @Url.SubmitSave()
                }
            </div>
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">
        $("#CityId").change(function () {
            $.get('/Students/getDestricts', { Id: $("#CityId").val() }, function (data) {
                $("#DestrictId").empty();
                $("#DestrictId").append("<option value=''>--اختر--</option>")
                $.each(data, function (key, value) {
                    $("#DestrictId").append("<option value=" + value["Id"] + ">" + value["Name"] + "</option>")
                });
            });
        });

        var now = new Date();
        now.setMinutes(now.getMinutes() - now.getTimezoneOffset());
        if (document.getElementById('BirthDate').value == "") {
            document.getElementById('BirthDate').value = now.toISOString().slice(0, 10);
        }
        if (document.getElementById('JoiningDate').value == "") {
            document.getElementById('JoiningDate').value = now.toISOString().slice(0, 10);
        }
       
    </script>
}