@model NurseryProject.Dtos.StudentsClass.StudentsClassDto
@using NurseryProject.Utilities
@{
    ViewBag.Title = " تحصيل اشتراك   ";
    string action = "Collect";
    ViewBag.MainPage = "تحصيل الاشتراكات ";

}
@using (Html.BeginForm(action, "Subscriptions", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="card">
        <div class="card-header">
            <div class="row justify-content-between">
                <h4 class="col-auto">@ViewBag.Title</h4>
                <a href='/StudentsClass' title='الرجوع الي القائمة' class='btn btn-soft-info  waves-effect waves-light m-1 col-md-auto px-3'><i class="fas fa-arrow-left me-1"></i>الرجوع الي القائمة</a>
            </div>
        </div>
        <div class="card-body" id="divId">
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.StudentId)
            @Html.HiddenFor(model => model.StudyYearId)
            @Html.HiddenFor(model => model.StudyTypeId)
            @Html.HiddenFor(model => model.LevelId)
            @Html.HiddenFor(model => model.ClassId)
            @Html.HiddenFor(model => model.SubscriptionId)
            @Html.HiddenFor(model => model.IsAnother)

            <div class="row">
                <div class="form-group mb-3 col-sm-4">
                    @Html.Label("الطالب", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.TextBoxFor(model => model.StudentName, new { @class = "form-control", required = "required", @Value = Model.Code + "|" + Model.StudentName + "|" + Model.StudentPhone, @disabled = "true" })
                        @Html.ValidationMessageFor(model => model.StudentId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-4">
                    @Html.Label("العام الدراسي", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.TextBoxFor(model => model.StudyYearName, new { @class = "form-control", required = "required", @disabled = "true" })
                        @Html.ValidationMessageFor(model => model.StudyYearId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-4">
                    @Html.Label("الفرع", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.TextBoxFor(model => model.StudyPlaceName, new { @class = "form-control", required = "required", @disabled = "true" })
                        @Html.ValidationMessageFor(model => model.StudyPlaceId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-4">
                    @Html.Label("نوع الدراسة", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.TextBoxFor(model => model.StudyTypeName, new { @class = "form-control", required = "required", @disabled = "true" })
                        @Html.ValidationMessageFor(model => model.StudyTypeId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-4">
                    @Html.Label("الصف ", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.TextBoxFor(model => model.LevelName, new { @class = "form-control", required = "required", @disabled = "true" })
                        @Html.ValidationMessageFor(model => model.LevelId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-4">
                    @Html.Label("الفصل", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.TextBoxFor(model => model.ClassName, new { @class = "form-control", required = "required", @disabled = "true" })
                        @Html.ValidationMessageFor(model => model.ClassId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-4">
                    @Html.Label("طريقة الاشتراك", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.TextBoxFor(model => model.SubscriptionName, new { @class = "form-control", required = "required", @disabled = "true" })
                        @Html.ValidationMessageFor(model => model.SubscriptionId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-4">
                    @Html.Label("المبلغ المدفوع : ", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.Editor("Total", new { htmlAttributes = new { @class = "form-control bg-soft-success", @disabled = "true" } })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-4">
                    @Html.Label("المبلغ المتبقي : ", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.Editor("Total2", new { htmlAttributes = new { @class = "form-control bg-soft-success", @disabled = "true" } })
                    </div>
                </div>
                @*@if (Model.IsAnother==true)
        {
            <div class="form-group mb-3 col-sm-3">
                @Html.Label("أخري", htmlAttributes: new { @class = "control-label" })
                <div class="col-12">
                    @Html.CheckBoxFor(model => model.IsAnother, new { @class = "form-check-input", @disabled = "true" })
                </div>
            </div>
        }*@

            </div>
            @Html.HiddenFor(model => model.Code)
            @Html.HiddenFor(model => model.StudentName)

            <div class="row" id="SubscriptionDiv">


            </div>
            <div class="row" id="SubscriptionDiv2">

            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">

                        <div class="modal-body">

                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("تاريخ الالتحاق ", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.TextBoxFor(model => model.JoiningDate, new { @class = "form-control", @Value = @ViewBag.JoiningDate, type = "date", required = "required", @disabled = "true" })
                        @Html.ValidationMessageFor(model => model.JoiningDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-12">
                    @Html.Label("ملاحظات ", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control", @disabled = "true" } })
                        @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        @*<div class="card-footer">
                <div class="row justify-content-end">
                    @if (Model.Id == Guid.Empty)
                    {
                        @Url.SubmitAdd()
                    }
                    else
                    {
                        @Url.SubmitSave()
                    }
                </div>
            </div>*@
    </div>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var now = new Date();
        now.setMinutes(now.getMinutes() - now.getTimezoneOffset());

        if (document.getElementById('JoiningDate').value == "") {
            document.getElementById('JoiningDate').value = now.toISOString().slice(0, 10);
        }
        $("#StudyTypeId").change(function () {
            $.get('/StudentsSubscriptions/getLevels', { Id: $("#StudyTypeId").val() }, function (data) {
                $("#LevelId").empty();
                $("#LevelId").append("<option value=''>--اختر--</option>")
                $.each(data, function (key, value) {
                    $("#LevelId").append("<option value=" + value["Id"] + ">" + value["Name"] + "</option>")
                });
            });
        });
        $("#LevelId").change(function () {
            $.get('/StudentsSubscriptions/getClasses', { Id: $("#LevelId").val() }, function (data) {
                $("#ClassId").empty();
                $("#ClassId").append("<option value=''>--اختر--</option>")
                $.each(data, function (key, value) {
                    $("#ClassId").append("<option value=" + value["Id"] + ">" + value["Name"] + "</option>")
                });
            });
            $.get('/StudentsSubscriptions/getSubscriptions', { Id: $("#LevelId").val() }, function (data) {
                $("#SubscriptionId").empty();
                $("#SubscriptionId").append("<option value=''>--اختر--</option>")
                $.each(data, function (key, value) {
                    $("#SubscriptionId").append("<option value=" + value["Id"] + ">" + value["Name"] + "</option>")
                });
            });
        });
        if (document.getElementById("IsAnother").checked) {
            $("#SubscriptionId").val("");
            $("#SubscriptionId").prop("disabled", true);

            $("#SubscriptionDiv").empty();

        }
        else {
            $("#SubscriptionDiv").empty();
        }
        $.get('/StudentsSubscriptions/getSubscriptionsMethods', { Id: $("#Id").val() }, function (data) {
            $("#SubscriptionDiv").empty();
            $("#SubscriptionDiv2").empty();

            var j = 1;
            var i = 0;
            $("#SubscriptionDiv").append('<hr>');
            $("#SubscriptionDiv").append('<div class="form-group mb-3 col-sm-12 text-center">طريقة الدفع :</div>');
            $("#SubscriptionDiv").append('<hr>');

            var total = 0;
            var total2 = 0;

            if (!data.IsAnother) {

                $.each(data.result, function (key, value) {

                    $("#SubscriptionDiv").append('<div class="form-group mb-3 col-sm-3"><label class="control-label">قيمة القسط رقم ' + j + '</label><div class="col-12"><input class="form-control" value=' + value["Amount"] + ' id="SubscriptionMethod[' + i + '].Amount" name="SubscriptionMethod[' + i + '].Amount" disabled = "true" required /></div></div>');
                    $("#SubscriptionDiv").append('<div class="form-group mb-3 col-sm-3"><label class="control-label">تاريخ القسط رقم ' + j + '</label><div class="col-12"><input class="form-control" value=' + value["Date"] + ' id="SubscriptionMethod[' + i + '].Date" name="SubscriptionMethod[' + i + '].Date" type="date"  disabled = "true" required /></div></div>');
                    if (value["IsPaid"] == false) {
                        $("#SubscriptionDiv").append('<div class="form-group mb-3 col-sm-3" hidden><label class="control-label">Id </label><div class="col-12"><input class="form-control" value="' + value["Id"] + '" id="SubscriptionMethod[' + i + '].Id" name="SubscriptionMethod[' + i + '].Id"  /></div></div>');
                        $("#SubscriptionDiv").append('<div class="form-group mb-3 col-sm-3"><label class="control-label">المدفوع </label><div class="col-12"><input class="form-control" value="' + value["Amount"] + '" id="SubscriptionMethod[' + i + '].PaidAmount" name="SubscriptionMethod[' + i + '].PaidAmount" /></div></div>');
                        $("#SubscriptionDiv").append('<div class="form-group mb-3 col-sm-2"><label class="control-label">تاريخ الدفع </label><div class="col-12"><input class="form-control" value=' + now.toISOString().slice(0, 16) + ' id="SubscriptionMethod[' + i + '].PaidDate" name="SubscriptionMethod[' + i + '].PaidDate" type="datetime-local" /></div></div>');
                        $("#SubscriptionDiv").append('<div class="form-group mt-4 p-1 col-sm-1"><div class="col-12"><button class="btn btn-success"  id="SubscriptionMethod[' + i + '].IsPaid" name="SubscriptionMethod[' + i + '].IsPaid"  onclick="Collect(' + i + ',' + data.Num + ')" type="button" >دفع</button></div></div>');
                        total2 += parseFloat(value["Amount"]);
                    }
                    else {
                        $("#SubscriptionDiv").append('<div class="form-group mb-3 col-sm-3" hidden><label class="control-label">Id </label><div class="col-12"><input class="form-control" value="' + value["Id"] + '" id="SubscriptionMethod[' + i + '].Id" name="SubscriptionMethod[' + i + '].Id"  /></div></div>');
                        $("#SubscriptionDiv").append('<div class="form-group mb-3 col-sm-2"><label class="control-label">المدفوع </label><div class="col-12"><input class="form-control" value="' + value["PaidAmount"] + '" id="SubscriptionMethod[' + i + '].PaidAmount" name="SubscriptionMethod[' + i + '].PaidAmount" disabled = "true" required /></div></div>');
                        $("#SubscriptionDiv").append('<div class="form-group mb-3 col-sm-2"><label class="control-label">تاريخ الدفع </label><div class="col-12"><input class="form-control" value="' + value["PaidDate"] + '" id="SubscriptionMethod[' + i + '].PaidDate" name="SubscriptionMethod[' + i + '].PaidDate" disabled = "true" type="datetime-local" /></div></div>');
                        $("#SubscriptionDiv").append('<div class="form-group mt-4 p-2 mb-3 col-sm-1 rounded-4 text-white bg-warning text-center"><i class="fa fa-check p-1"></i>تم الدفع <div class="col-12"><input class="form-check-input" id="SubscriptionMethod[' + i + '].IsPaid" name="SubscriptionMethod[' + i + '].IsPaid" readonly checked hidden  type="checkbox" /></div></div>');
                        $("#SubscriptionDiv").append('<div class="form-group mt-4 p-1 col-sm-1"><div class="col-12"><button class="btn btn-danger"  id="SubscriptionMethod[' + i + '].IsPaid" name="SubscriptionMethod[' + i + '].IsPaid"  onclick="Cancel(' + i + ',' + data.Num + ')" type="button" >إلغاء الدفع</button></div></div>');

                        total += parseFloat(value["PaidAmount"]);
                    }
                    j++;
                    i++;
                });
            }
            else if (data.IsAnother) {

                $("#SubscriptionDiv").append('<div class="form-group mb-3 col-sm-6"><label class="control-label">المبلغ : </label><div class="col-12"><input class="form-control" value=' + data.Amoun + ' id="Amount1" name="Amount1" type="number" disabled = "true" required /></div></div>')
                $("#SubscriptionDiv").append('<div class="form-group mb-3 col-sm-6"><label class="control-label">عدد الاقساط : </label><div class="col-12"><input class="form-control" value=' + data.Num + ' id="InstallmentsNumber1" name="InstallmentsNumber1" type="number" disabled = "true" required /></div></div>')

                $.each(data.result, function (key, value) {
                    $("#SubscriptionDiv2").append('<div class="form-group mb-3 col-sm-3"><label class="control-label">قيمة القسط رقم ' + j + '</label><div class="col-12"><input class="form-control" value=' + value["Amount"] + ' id="SubscriptionMethod[' + i + '].Amount" name="SubscriptionMethod[' + i + '].Amount"  disabled = "true" required /></div></div>');
                    $("#SubscriptionDiv2").append('<div class="form-group mb-3 col-sm-3"><label class="control-label">تاريخ القسط رقم ' + j + '</label><div class="col-12"><input class="form-control" value=' + value["Date"] + ' id="SubscriptionMethod[' + i + '].Date" name="SubscriptionMethod[' + i + '].Date" type="date"  disabled = "true" required /></div></div>');
                    if (value["IsPaid"] == false) {
                        $("#SubscriptionDiv2").append('<div class="form-group mb-3 col-sm-3" hidden><label class="control-label">Id </label><div class="col-12"><input class="form-control" value="' + value["Id"] + '" id="SubscriptionMethod[' + i + '].Id" name="SubscriptionMethod[' + i + '].Id"  /></div></div>');
                        $("#SubscriptionDiv2").append('<div class="form-group mb-3 col-sm-3"><label class="control-label">المدفوع </label><div class="col-12"><input class="form-control" value="' + value["Amount"] + '" id="SubscriptionMethod[' + i + '].PaidAmount" name="SubscriptionMethod[' + i + '].PaidAmount"  /></div></div>');
                        $("#SubscriptionDiv2").append('<div class="form-group mb-3 col-sm-2"><label class="control-label">تاريخ الدفع </label><div class="col-12"><input class="form-control" value=' + now.toISOString().slice(0, 16) + ' id="SubscriptionMethod[' + i + '].PaidDate" name="SubscriptionMethod[' + i + '].PaidDate" type="datetime-local" /></div></div>');
                        $("#SubscriptionDiv2").append('<div class="form-group mt-4 p-1 col-sm-1"><div class="col-12"><button class="btn btn-success"  id="SubscriptionMethod[' + i + '].IsPaid" name="SubscriptionMethod[' + i + '].IsPaid"  onclick="Collect(' + i + ',' + data.Num + ')" type="button" >دفع</button></div></div>');
                        total2 += parseFloat(value["Amount"]);

                    }
                    else {
                        $("#SubscriptionDiv2").append('<div class="form-group mb-3 col-sm-3" hidden><label class="control-label">Id </label><div class="col-12"><input class="form-control" value="' + value["Id"] + '" id="SubscriptionMethod[' + i + '].Id" name="SubscriptionMethod[' + i + '].Id"  /></div></div>');
                        $("#SubscriptionDiv2").append('<div class="form-group mb-3 col-sm-2"><label class="control-label">المدفوع </label><div class="col-12"><input class="form-control" value="' + value["PaidAmount"] + '" id="SubscriptionMethod[' + i + '].PaidAmount" name="SubscriptionMethod[' + i + '].PaidAmount" disabled = "true" required /></div></div>');
                        $("#SubscriptionDiv2").append('<div class="form-group mb-3 col-sm-2"><label class="control-label">تاريخ الدفع </label><div class="col-12"><input class="form-control" value="' + value["PaidDate"] + '" id="SubscriptionMethod[' + i + '].PaidDate" name="SubscriptionMethod[' + i + '].PaidDate" disabled = "true" type="datetime-local" /></div></div>');
                        $("#SubscriptionDiv2").append('<div class="form-group mt-4 p-2 mb-3 col-sm-1 rounded-4 text-white bg-warning text-center"><i class="fa fa-check p-1"></i>تم الدفع <div class="col-12"><input class="form-check-input"  id="SubscriptionMethod[' + i + '].IsPaid" name="SubscriptionMethod[' + i + '].IsPaid" readonly checked hidden  type="checkbox" /></div></div>');
                        $("#SubscriptionDiv2").append('<div class="form-group mt-4 p-1 col-sm-1"><div class="col-12"><button class="btn btn-danger"  id="SubscriptionMethod[' + i + '].IsPaid" name="SubscriptionMethod[' + i + '].IsPaid"  onclick="Cancel(' + i + ',' + data.Num + ')" type="button" >إلغاء الدفع</button></div></div>');

                        total += parseFloat(value["PaidAmount"]);

                    }

                    j++;
                    i++;
                });
            }
            document.getElementById('Total').value = total + " جنيه "
            document.getElementById('Total2').value = total2 + " جنيه "

            $("#SubscriptionDiv2").append('<hr>');

        });
        function Collect(i, num) {
            var Id = document.getElementById("SubscriptionMethod[" + i + "].Id").value;

            var Amount = parseFloat(document.getElementById("SubscriptionMethod[" + i + "].PaidAmount").value);

            var Date1 = document.getElementById("SubscriptionMethod[" + i + "].PaidDate").value;

            var Amount1 = parseFloat(document.getElementById("SubscriptionMethod[" + i + "].Amount").value);
            var Date2 = document.getElementById("SubscriptionMethod[" + i + "].Date").value;


            if (Amount1 == Amount) {
                $.get('/StudentsSubscriptions/UpdateSubscriptionsMethods', { Id: Id, Amount: Amount, Date: Date1, StudentId: $("#StudentId").val(), StudyYearId: $("#StudyYearId").val() }, function (data) {
                    if (data != "Faild")
                        $.get('/Subscriptions/getReportDesign', function (data) {
                            var old = document.body.innerHTML;
                            //Reset the page's HTML with div's HTML only
                            var d = $("#StudentName").val().split("|");
                            var da = new Date(Date1);

                            document.body.innerHTML =
                                "" + data.ReportHeader + "<hr>" +
                            "<div class='row'>" + "<div class='col-12'>اسم الطالب : " + d[1] + "</div>" +
                            "<div class='col-6'>كود الطالب : " + $("#Code").val() + "</div><div class='col-6'>رقم التليفون : " + d[2] + "</div>" +
                            "<div class='col-6'>قيمة القسط : " + Amount1 + " جنيه</div>" + "<div class='col-6'>تاريخ القسط : " + Date2 + " جنيه</div>" +
                            "<div class='col-6'> قيمة المدفوع : " + Amount + " جنيه</div > <div class='col-6'> تاريخ الدفع : " + da.getFullYear() + " -  " + (da.getMonth() + 1) + " -  " + da.getDate() + "  " + da.getHours() + ":" + da.getMinutes() + "  </div>" +
                            "<div class='col-6'>قيمة المدفوع سابقا : " + document.getElementById("Total").value + "</div><div class='col-6'>قيمة المتبقي : " + document.getElementById('Total2').value + "</div>" +

                            "</div>"
                                + "<hr>" + data.ReportFooter + "";

                            //Print Page
                            window.print();
                            document.body.innerHTML = old;
                            savedSL('/StudentsSubscriptions/Collect/' + $("#Id").val());

                        });
                    else {
                        savedF("لم يتم دفع القسط المسبق بعد")
                    }
                });
            }
            else if (Amount1 > Amount) {
                var t = '';

                if (num == i + 1) {
                    t += '<div class="form-group mt-2 p-1 col-sm-12"><label class="control-label text-danger">هذا القسط الاخير لابد ان يدفع كاملا</label></div>';

                }
                else {
                    t += '<div class="form-group mt-2 p-1 col-sm-12"><label class="control-label text-danger">قيمة المدفوع اقل من قيمة القسط برجاء اختيار قسط لرفع باقي المبلغ عليه</label></div>';
                    t += '<div class="form-group mt-2 p-1 col-sm-12"><label class="control-label text-danger">القيمة المرحلة : ' + parseFloat(Amount1 - Amount) + ' جنيه</label></div>';

                    t += '<div class="form-group mt-2 p-1 col-sm-12"><label class="control-label">تاريخ القسط المحول عليه :</label><select class="form-control" id="Date2">';

                    for (var j = i + 1; j < num; j++) {
                        var idd = document.getElementById("SubscriptionMethod[" + j + "].Id").value;
                        var imp = document.getElementById("SubscriptionMethod[" + j + "].Date").value;
                        t += '<option value="' + idd + '">' + imp + '</option>';
                    }
                    t += "</select></div><button type='button' class='btn btn-success px-3 m-1 col-12 col-md-auto' onclick='Collectt(" + i + ")'><i class='fas fa-save me-1' ></i>حفظ التعديلات</button>";

                }
                $("#exampleModal").find(".modal-body").html(t);
                $("#exampleModal").modal('show');
            }

        };
        function Collectt(i) {
            var Id = document.getElementById("SubscriptionMethod[" + i + "].Id").value;

            var Amount = document.getElementById("SubscriptionMethod[" + i + "].PaidAmount").value;
            var Date1 = document.getElementById("SubscriptionMethod[" + i + "].PaidDate").value;
            var Date2 = document.getElementById("SubscriptionMethod[" + i + "].Date").value;

            var Amount1 = document.getElementById("SubscriptionMethod[" + i + "].Amount").value;
            var sub = Amount1 - Amount;

            $.get('/StudentsSubscriptions/UpdateSubscriptionsMethods', { Id: Id, Amount: Amount, Date: Date1, Id2: $("#Date2").val(), Sub: sub, StudentId: $("#StudentId").val(), StudyYearId: $("#StudyYearId").val() }, function (data) {
                if (data != "Faild") {
                    $.get('/Subscriptions/getReportDesign', function (data) {
                        var old = document.body.innerHTML;
                        //Reset the page's HTML with div's HTML only
                        var d = $("#StudentName").val().split("|");
                        var da = new Date(Date1);

                        document.body.innerHTML =
                            "" + data.ReportHeader + "<hr>" +
                            "<div class='row'>" + "<div class='col-12'>اسم الطالب : " + d[1] + "</div>" +
                            "<div class='col-6'>كود الطالب : " + $("#Code").val() + "</div><div class='col-6'>رقم التليفون : " + d[2] + "</div>" +
                            "<div class='col-6'>قيمة القسط : " + Amount1 + " جنيه</div>" + "<div class='col-6'>تاريخ القسط : " + Date2 + " جنيه</div>" +
                            "<div class='col-6'> قيمة المدفوع : " + Amount + " جنيه</div > <div class='col-6'> تاريخ الدفع : " + da.getFullYear() + " -  " + (da.getMonth() + 1) + " -  " + da.getDate() + "  " + da.getHours() + ":" + da.getMinutes() + "  </div>" +

                            "</div>"
                            + "<hr>" + data.ReportFooter + "";

                        //Print Page
                        window.print();
                        document.body.innerHTML = old;
                        savedSL('/StudentsSubscriptions/Collect/' + $("#Id").val());
                    });

                }
                else {
                    savedF("لم يتم دفع القسط المسبق بعد")
                }
            });
        };

        function Cancel(i, num) {
            var Id = document.getElementById("SubscriptionMethod[" + i + "].Id").value;

            $.get('/StudentsSubscriptions/CancelSubscriptionsMethodsPaid', { Id: Id }, function (data) {
                if (data != "Faild")
                    savedSL('/StudentsSubscriptions/Collect/' + $("#Id").val());
                else {
                    savedF("لم يتم دفع القسط المسبق بعد")
                }
            });

        };

    </script>
}