@using NurseryProject.Utilities
@{
    ViewBag.Title = " تقرير الطلاب المعفيين ";
    ViewBag.MainPage = "التقارير  ";

}
@using (Html.BeginForm("NoInstallmentsReports", "StudentsClass", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="card">
        <div class="card-header">
            <div class="row justify-content-between">
                <h4 class="col-auto">@ViewBag.Title</h4>
                @Url.BackToList()
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("العام الدراسي", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.DropDownList("StudyYearId", null, "--اختر--", new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row justify-content-end">
                <button type='submit' class='btn btn-primary  waves-effect waves-light px-3 m-1 col-12 col-md-auto'><i class='fas fa-search me-1'></i>عرض</button>

            </div>
        </div>
    </div>
}
@if (ViewBag.Reports != null)
{
    <div class="card">
        <div class="card-header">
            تقرير الطلاب المعفيين
        </div>
        <div class="card-body">
            <table id="datatable" class="table table-striped dt-responsive  nowrap w-100 table-bordered">
                <thead class="bg-soft-primary">
                    <tr>
                        <th>
                            @Html.DisplayName("الفرع ")
                        </th>
                        <th>
                            @Html.DisplayName("العام الدراسي")
                        </th>
                        <th>
                            @Html.DisplayName("نوع الدراسة")
                        </th>
                        <th>
                            @Html.DisplayName("الصف ")
                        </th>

                        <th>
                            @Html.DisplayName("الفصل ")
                        </th>
                        <th>
                            @Html.DisplayName("اسم الطالب ")
                        </th>
                        <th>
                            @Html.DisplayName("عمليات")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Reports)
                    {
                    <tr>
                        <td>
                            @item.StudyPlaceName
                        </td>
                        <td>
                            @item.StudyYearName
                        </td>
                        <td>
                            @item.StudyTypeName
                        </td>
                        <td>
                            @item.LevelName
                        </td>
                        <td>
                            @item.ClassName
                        </td>
                        <td>
                            @item.StudentName
                        </td>
                        <td>
                            @Url.Edit(routeValues: new { id = item.Id })
                            @Url.Delete(routeValues: new { id = item.Id })
                        </td>
                    </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
}


@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    
}