@using NurseryProject.Utilities
@{
    ViewBag.Title = " تقرير معلمي طالب ";
    ViewBag.MainPage = "التقارير  ";

}
@using (Html.BeginForm("Reports", "StudentsClass", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="card">
        <div class="card-header">
            <div class="row justify-content-between">
                <h4 class="col-auto">@ViewBag.Title</h4>
                @Url.BackToList()
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("الطالب", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.DropDownList("StudentId", null, "--اختر--", new { @class = "form-control searchable", required = "required" })
                        @Html.ValidationMessage("StudentId", "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group mb-3 col-sm-6">
                    @Html.Label("العام الدراسي", htmlAttributes: new { @class = "control-label" })
                    <div class="col-12">
                        @Html.DropDownList("StudyYearId", null, "--اختر--", new { @class = "form-control", required = "required" })
                        @Html.ValidationMessage("StudyYearId", "", new { @class = "text-danger" })
                    </div>
                </div>


            </div>
        </div>
        <div class="card-footer">
            <div class="row justify-content-end">
                <button type='submit' class='btn btn-primary  waves-effect waves-light px-3 m-1 col-12 col-md-auto'><i class='fas fa-search me-1'></i>عرض</button>

            </div>
        </div>
    </div>
}
@if (ViewBag.Reports != null)
{
    <div class="card">
        <div class="card-header">
            تقرير معلمي طالب
        </div>
        <div class="card-body">
            <table id="datatable" class="table table-striped dt-responsive  nowrap w-100">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("الفرع ")
                        </th>
                        <th>
                            @Html.DisplayName("العام الدراسي")
                        </th>
                        <th>
                            @Html.DisplayName("نوع الدراسة")
                        </th>
                        <th>
                            @Html.DisplayName("الصف الدراسي")
                        </th>

                        <th>
                            @Html.DisplayName("الفصل ")
                        </th>

                        <th>
                            @Html.DisplayName("المادة ")
                        </th>

                        <th>
                            @Html.DisplayName("المعلم ")
                        </th>

                        <th>
                            @Html.DisplayName("عمليات")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Reports)
                    {
                    <tr>
                        <td>
                            @item.StudyPlaceName
                        </td>
                        <td>
                            @item.StudyYearName
                        </td>
                        <td>
                            @item.StudyTypeName
                        </td>
                        <td>
                            @item.LevelName
                        </td>
                        <td>
                            @item.ClassName
                        </td>

                        <td>
                            @item.SubjecName
                        </td>
                        <td>
                            @item.EmployeeName
                        </td>
                        <td>
                            @Url.Edit(routeValues: new { id = item.Id })
                            @Url.Delete(routeValues: new { id = item.Id })
                        </td>
                    </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
}


@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#StudyTypeId").change(function () {
            $.get('/EmployeeClasses/getLevels', { Id: $("#StudyTypeId").val() }, function (data) {
                $("#LevelId").empty();
                $("#LevelId").append("<option value=''>--اختر--</option>")
                $.each(data, function (key, value) {
                    $("#LevelId").append("<option value=" + value["Id"] + ">" + value["Name"] + "</option>")
                });
            });
        });
        $("#LevelId").change(function () {
            $.get('/EmployeeClasses/getClasses', { Id: $("#LevelId").val() }, function (data) {
                $("#ClassId").empty();
                $("#ClassId").append("<option value=''>--اختر--</option>")
                $.each(data, function (key, value) {
                    $("#ClassId").append("<option value=" + value["Id"] + ">" + value["Name"] + "</option>")
                });
            });
            $.get('/EmployeeClasses/getSubjects', { Id: $("#LevelId").val() }, function (data) {
                $("#SubjectId").empty();
                $("#SubjectId").append("<option value=''>--اختر--</option>")
                $.each(data, function (key, value) {
                    $("#SubjectId").append("<option value=" + value["Id"] + ">" + value["Name"] + "</option>")
                });
            });
        });
    </script>
}